<!doctype html>
<html lang="en">

<head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <title>Home - TextUtils</title>

     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">





</head>

<body>
     <header class='position-sticky'>
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
               <div class="container-fluid">
                    <a class="navbar-brand" href="#">TextUtils</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                         data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                         aria-expanded="false" aria-label="Toggle navigation">
                         <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                         <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-5">
                              <li class="nav-item">
                                   <a class="nav-link active" aria-current="page" href="/">Home</a>
                              </li>
                              <li class="nav-item">
                                   <a class="nav-link active" href="/removepunc">RemovePunctuation</a>
                              </li>
                              <li class="nav-item">
                                   <a class="nav-link active" href="/capitalizefirst">CapitalizeFirst</a>
                              </li>
                              <li class="nav-item">
                                   <a class="nav-link active" href="/newlineremove">NewLineRemover</a>
                              </li>
                              <li class="nav-item">
                                   <a class="nav-link active" href="/spaceremove">SpaceRemover</a>
                              </li>
                              <li class="nav-item">
                                   <a class="nav-link active" href="/charcount">CharacterCounter</a>
                              </li>
                         </ul>
                         <form class="d-flex" role="search">
                              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                              <button class="btn btn-primary" type="submit">Search</button>
                         </form>
                    </div>
               </div>
          </nav>
     </header>

     <main>
          <div class="container my-5">
               <h2 class="text-center my-5">Welcome to TextUtils. Enter your text below to analyze</h1>

                    <form action="/removepunc" method="get">
                         <div class="mb-3 my-5">
                              <label for="text" class="form-label">Enter your text</label>
                              <textarea class="form-control" id="text" rows="7" name="text"></textarea>
                         </div>

                         <button class="btn btn-primary" type="submit">Remove Punctuation</button>
                    </form>
          </div>
     </main>

     <footer>
          <div class="footer" style="background: #fbfbfb;">
               <div class="container">
                    <footer class="py-3 my-4">
                         <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                              <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
                              <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
                              <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
                              <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
                              <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
                         </ul>
                         <p class="text-center text-muted">&copy; 2022 Company, Inc</p>
                    </footer>
               </div>
          </div>
     </footer>

     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
          crossorigin="anonymous"></script>
</body>

</html>